@import './reset.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #eee;
  font-size: 30px;
}

.button--grey {
  color: #616161;
  border-color: #767676;
  font-weight: 500;

  &:hover {
    color: inherit;
    border-color: inherit;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px 0;

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar {
  display: flex;
  &__links {
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    padding: 8px 24px;

    &:hover {
      color: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 1);
    }
  }
}
