@import './variables';
@import './reset';
@import './pageNotFound';
@import './loading';
@import '../components/movies/movies';
@import '../components/header/header';
@import '../components/bookmarks/bookmarks';
@import '../components/rating/rating';
@import '../components/search/search';
@import './mobile';

body {
  font-family: 'Lato', sans-serif;
  background-color: #eee !important;
  font-size: 30px;
}

.button--grey {
  color: #616161;
  border-color: #767676;
  font-weight: 500;

  &:hover {
    color: inherit;
    border-color: inherit;
  }
}

.movie-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-self: stretch;
    flex: 1 0 21%;
    margin-top: 20px;
    margin-left: 0;
  }
}

.body-white-bg {
  background-color: #fff !important;

  &__form {
    max-width: 1200px;
    margin: 48px auto;
  }

  &__link,
  &__link:visited,
  &__link:active,
  &__link:focus {
    color: $blue;
  }
}

.card-simple {
  display: flex;

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 2rem;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 2rem;
}

.slider-item {
  display: flex;
  align-self: stretch;
  flex: 1 0 21%;
}

.scroller {
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 20px;
}

.scroller::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scroller::-webkit-scrollbar-track {
  background: transparent;
}

.scroller_wrap {
  position: relative;
}

.scroller_wrap.should_fade.is_fading:after {
  transition: linear 0.3s;
  opacity: 1;
}

.scroller_wrap.should_fade:after {
  content: '';
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    #fff 100%
  );
  will-change: opacity;
  pointer-events: none;
}

.item-block {
  width: 100%;
  padding-bottom: 10px;
}

.item__mini {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin: 0 15px 0 0;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title,
  .rating {
    font-size: 14px;
    font-weight: 400;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
  }

  .img-content {
    width: 250px;
    height: 141px;
  }

  .img {
    max-width: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
  }
}

.recomendation-section {
  padding: 40px 80px;

  .recomendation__title {
    font-size: 20px;
    font-weight: 600;
  }
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  min-height: 300px;
  height: calc(100vh / 2.5);
  max-height: 360px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/hreiLoPysWG79TsyQgMzFKaOTF5.jpg');

  .title {
    margin-bottom: 20px;

    h2 {
      font-size: 45px;
      font-weight: 700;
      line-height: 1;
    }

    h3 {
      font-size: 30px;
      font-weight: 600;
      margin: 0;
    }
  }
}

.login-form {
  max-width: 1200px;
  margin: 80px auto;
}

.form__input {
  margin-bottom: 20px !important;
}

.image-content {
  position: relative;

  .skeleton {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
  }
}
