@import './variables';
@import './reset.scss';
@import './pageNotFound.scss';
@import '../components/movies/movies';
@import '../components/header/header.scss';
@import '../components/bookmarks/bookmarks.scss';

body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
  font-size: 30px;
}

.button--grey {
  color: #616161;
  border-color: #767676;
  font-weight: 500;

  &:hover {
    color: inherit;
    border-color: inherit;
  }
}

.movie-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-self: stretch;
    flex: 1 0 21%;
    margin-top: 20px;
    margin-left: 0;
  }
}

.login {
  background-color: #fff;

  &__form {
    max-width: 1200px;
    margin: 48px auto;
  }

  &__link,
  &__link:visited,
  &__link:active,
  &__link:focus {
    color: $blue;
  }
}

.card-simple {
  display: flex;

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
